# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/creditcard.csv

# Trained models
models/*.pkl

# Generated outputs
outputs/metrics/*.csv

# Streamlit
.streamlit/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db